.body {
  box-sizing: border-box;
  background: var(--background-dark);
  max-height: calc(100vh - 5rem);
  height: calc(100vh - 4.9rem);
  overflow-y: auto;
  overflow-x: hidden;
}

#errorToast {
  border: 2px solid var(--secondary-dark);
}
#errorToast .toast-header {
  background: var(--secondary-default);
  color: var(--text);
}
