/* Theme CSS varaible */
:root {
  --background-light: #ffffff;
  --background-dark: #e0e0e0;
  --text: #ffffff;
  --primary-default: #6200ea;
  --primary-light: #9d46ff;
  --primary-dark: #0a00b6;
  --secondary-default: #1b5e20;
  --secondary-light: #4c8c4a;
  --secondary-dark: #003300;
}
